In [18]:
import pandas as pd

In [19]:
files = ['2000-02.csv','2003-05.csv','2006-08.csv','2009-11.csv','2012-13.csv']
df = pd.DataFrame()
for file in files:
    data = pd.read_csv('ndvi_daily_data/'+file)
    df = pd.concat([df, data], axis=0)

# df.to_csv('precipitation_data/merged_files.csv', index=False)
# df.to_csv('precipitation_data/merged_files.csv', index=False)
df = df.dropna()

In [20]:
df.rename(columns={'system:time_start':'date','Uttaranchal':'ndvi'},inplace=True)

In [21]:
# df = df.reset_index()

In [22]:
df.to_csv('ndvi_daily_data/merged_files.csv', index=False)

In [26]:
data = pd.read_csv('ndvi_daily_data/merged_files.csv')
data

              date   ndvi
0     Feb 26, 2000  0.335
1     Feb 27, 2000  0.369
2     Feb 28, 2000  0.350
3     Feb 29, 2000  0.205
4      Mar 1, 2000  0.308
...            ...    ...
4971  Dec 26, 2013  0.454
4972  Dec 27, 2013  0.241
4973  Dec 28, 2013  0.419
4974  Dec 29, 2013  0.464
4975  Dec 30, 2013  0.455

[4976 rows x 2 columns]

In [27]:
data['date'] = pd.to_datetime(data['date'])
data

           date   ndvi
0    2000-02-26  0.335
1    2000-02-27  0.369
2    2000-02-28  0.350
3    2000-02-29  0.205
4    2000-03-01  0.308
...         ...    ...
4971 2013-12-26  0.454
4972 2013-12-27  0.241
4973 2013-12-28  0.419
4974 2013-12-29  0.464
4975 2013-12-30  0.455

[4976 rows x 2 columns]

In [28]:
data.to_csv('ndvi_daily_data/merged_files.csv', index=False)