## LOADING NDVI VALUES FROM GIMMS DATA FROM 1981-2013

In [35]:
# Importing libraries
import pandas as pd 
import numpy as np
from datetime import datetime
import seaborn as sns 
import matplotlib.pyplot as plt 

# date_str = '4 March, 2014'
# print(type(date_str))
# date_obj = datetime.strptime(date_str,'%d %B, %Y')
# print(date_obj)

In [37]:
df_ndvi_data = pd.read_csv('GIMMS_NDVI_mean_data_1981-2013.csv')
df_ndvi_data.rename(columns={'system:time_start':'date','Uttaranchal':'ndvi'},inplace=True)
df_ndvi_data['date'] = pd.to_datetime(df_ndvi_data['date'])
df_ndvi_data
df_ndvi_data.to_csv("ndvi_data.csv",index=False)

In [24]:
# df_ndvi_data['Date'] = pd.to_datetime(df_ndvi_data['Date'])

# df_ndvi_data

In [28]:
# # code to convert date format to YYYY-MM-DD
df_ndvi_data_arr=df_ndvi_data.iloc[0:,0:1].values
# date_obj = datetime.strptime(df_array,'%b %d, %Y')
# # print(df_array)

# def Date_converter():
arr = []
for date in df_ndvi_data_arr:
    date_obj = datetime.strptime(date[0],'%b %d, %Y')
    arr.append(date_obj)

ValueError: time data '01-07-1981' does not match format '%b %d, %Y'

In [26]:
dates_arr = []   ## array containing main dates
for x in arr:
    dates_arr.append(x.strftime('%d-%m-%Y'))


# print(dates_arr)

df_ndvi_data['Date'] = dates_arr

NameError: name 'arr' is not defined

In [ ]:
# Dataset to csv
df_ndvi_data.to_csv("NDVI_DATA_GIMMS.csv")

In [6]:
df_ndvi_data

          date   ndvi
0   1981-07-01  0.537
1   1981-07-16  0.480
2   1981-08-01  0.489
3   1981-08-16  0.615
4   1981-09-01  0.626
..         ...    ...
775 2013-10-16  0.615
776 2013-11-01  0.620
777 2013-11-16  0.603
778 2013-12-01  0.596
779 2013-12-16  0.550

[780 rows x 2 columns]